<header class="menu-secretaria-header-futuristic">
  <a [routerLink]="['/secretaria-menu']" class="logo-link">
    <div class="logo-container">
      <div class="logo-wrapper">
        <img src="img/logo.png" alt="Logo de la Empresa" class="logo">
      </div>
      <div class="header-text-info">
        <h1 class="company-name">Inmobiliaria IVAN E.I.R.L</h1>
        <p class="welcome-message">Bienvenid@: {{ usuarioLogueado?.nombre }} {{ usuarioLogueado?.apellidos }}</p>
      </div>
    </div>
  </a>

  <button class="menu-toggle" (click)="toggleMobileMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <nav class="main-nav-futuristic" [ngClass]="{'menu-active': isMenuOpen}">
    <ul>
      <li class="has-submenu nav-glow" [ngClass]="{'active': isClientesSubmenuOpen}">
        <a class="nav-link-futuristic" (click)="toggleClientesSubmenu()">Clientes</a>
        <ul class="submenu submenu-futuristic" *ngIf="isClientesSubmenuOpen">
          <li><a [routerLink]="['/secretaria-menu/clientes']" class="submenu-link-futuristic" (click)="closeMenu()">Mantenimiento</a></li>
          <li><a [routerLink]="['/secretaria-menu/letras/listar']" class="submenu-link-futuristic" (click)="closeMenu()">Registro de Pagos</a></li>
          <li><a [routerLink]="['/Intereses']" class="submenu-link-futuristic" (click)="closeMenu()">Historial de Pagos</a></li>
        </ul>
      </li>

      <li class="has-submenu nav-glow" [ngClass]="{'active': isContratoSubmenuOpen}">
        <a class="nav-link-futuristic" (click)="toggleContratoSubmenu()">Contratos</a>
        <ul class="submenu submenu-futuristic" *ngIf="isContratoSubmenuOpen">
          <li><a [routerLink]="['/secretaria-menu/contratos']" class="submenu-link-futuristic" (click)="closeMenu()">Mantenimiento</a></li>
          <li><a [routerLink]="['/Letras P.']" class="submenu-link-futuristic" (click)="closeMenu()">Reportes</a></li>
        </ul>
      </li>

      <li><a [routerLink]="['/secretaria-menu/separaciones']" class="nav-link-futuristic" (click)="closeMenu()">Separaciones</a></li>
      <li><a [routerLink]="['/secretaria-menu/programas']" class="nav-link-futuristic" (click)="closeMenu()">Programas</a></li>
      <li><a [routerLink]="['/secretaria-menu/vendedores']" class="nav-link-futuristic" (click)="closeMenu()">Vendedores</a></li>
      <li><a [routerLink]="['/secretaria-menu/lotes']" class="nav-link-futuristic" (click)="closeMenu()">Lotes</a></li>
      <li><a [routerLink]="['/secretaria-menu/parceleros']" class="nav-link-futuristic" (click)="closeMenu()">Parceleros</a></li>
      <li class="nav-glow">
        <a (click)="onLogout()" class="nav-link-futuristic logout-btn">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>
</header>

<div class="content-placeholder">
  <router-outlet></router-outlet>
</div>