<header class="menu-secretaria-header-futuristic">
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="img/logo.png" alt="Logo de la Empresa" class="logo">
    </div>
    <div class="header-text-info">
      <h1 class="company-name">Inmobiliaria IVAN E.I.R.L</h1>
      <p class="welcome-message">Bienvenid@: {{ usuarioLogueado?.nombre }} {{ usuarioLogueado?.apellidos }}</p>
    </div>
  </div>

  <nav class="main-nav-futuristic">
    <ul>
      <li class="has-submenu nav-glow" (click)="toggleClientesSubmenu()" [ngClass]="{'active': isClientesSubmenuOpen}">
        <a class="nav-link-futuristic">Clientes</a>
        <ul class="submenu submenu-futuristic" *ngIf="isClientesSubmenuOpen">
          <li><a [routerLink]="['/secretaria-menu/clientes']" class="submenu-link-futuristic">Mantenimiento Clientes</a></li>
          <li><a [routerLink]="['/letras']" class="submenu-link-futuristic">Letras</a></li>
          <li><a [routerLink]="['/Intereses']"  class="submenu-link-futuristic">Intereses</a></li>
        </ul>
      </li>

      <li class="has-submenu nav-glow" (click)="toggleContratoSubmenu()" [ngClass]="{'active': isContratoSubmenuOpen}">
        <a class="nav-link-futuristic">Contratos</a>
        <ul class="submenu submenu-futuristic" *ngIf="isContratoSubmenuOpen">
          <li><a [routerLink]="['/secretaria-menu/contratos']" class="submenu-link-futuristic">Mantenimiento</a></li>
          <li><a [routerLink]="['/Letras P.']" class="submenu-link-futuristic">Reportes</a></li>

        </ul>
      </li>

      <li><a [routerLink]="['/Programa']" class="nav-link-futuristic">Letras</a></li>
      <li><a [routerLink]="['/Reportes']" class="nav-link-futuristic">Reportes</a></li>

      <li class="nav-glow">
        <a (click)="onLogout()" class="nav-link-futuristic logout-btn">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>
</header>

<div class="content-placeholder">
  <router-outlet></router-outlet>
</div>