<div class="clientes-container">
  <h2>Gestión de Programas</h2>

  <div class="filtros">
    <button class="btn btn-success" (click)="abrirModal()">
      <i class="bi bi-plus-lg"></i> Nuevo Programa
    </button>
    <button class="btn btn-outline-primary" (click)="descargarExcel()">
      📥 Exportar Excel
    </button>
    <button class="btn btn-outline-danger" (click)="exportarPDF()">
      📄 Exportar PDF
    </button>
  </div>

  <div class="tabla-clientes">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Ubicación</th>
          <th>Área Total</th>
          <th>Precio m²</th>
          <th>Costo Total</th>
          <th>Distrito</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programa of programas">
          <td>{{ programa.idPrograma }}</td>
          <td>{{ programa.nombrePrograma }}</td>
          <td>{{ programa.ubicacion }}</td>
          <td>{{ programa.areaTotal }}</td>
          <td>{{ programa.precioM2 | currency:'USD':'symbol':'1.0-2' }}</td>
          <td class="fw-bold">{{ programa.costoTotal | currency:'USD':'symbol':'1.0-2' }}</td>
          <td><span class="estado-propietario">{{ programa.distrito.nombre }}</span></td>
          <td class="acciones-cell">
            <button class="btn btn-outline-primary btn-sm me-1" (click)="abrirModal(programa)" title="Editar">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminarPrograma(programa.idPrograma!)" title="Eliminar">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="programas.length === 0" class="no-results">
        No se encontraron programas disponibles.
    </div>
  </div>
</div>