<div class="contenedor">

  <h2>Listado de Recibos</h2>

  <button class="btn-exportar" (click)="exportarPDF()">
  Exportar PDF
</button>

  <!-- FILTROS -->
  <div class="filtros">

    <select [(ngModel)]="filtroTipo" (change)="aplicarFiltros()">
      <option value="">Todos los servicios</option>
      <option value="LUZ">Luz</option>
      <option value="AGUA">Agua</option>
    </select>

    <select [(ngModel)]="filtroMes" (change)="aplicarFiltros()">
      <option value="">Todos los meses</option>
      <option value="1">Enero</option>
      <option value="2">Febrero</option>
      <option value="3">Marzo</option>
      <option value="4">Abril</option>
      <option value="5">Mayo</option>
      <option value="6">Junio</option>
      <option value="7">Julio</option>
      <option value="8">Agosto</option>
      <option value="9">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>

  </div>

  <!-- TABLA -->
  <table *ngIf="recibosFiltrados.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Contrato</th>
        <th>Servicio</th>
        <th>Consumo</th>
        <th>Importe</th>
        <th>Fecha Lectura</th>
        <th>Vencimiento</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of recibosFiltrados">
        <td>{{ r.idRecibo }}</td>
        <td>{{ r.idContrato }}</td>
        <td>{{ r.tipoServicio }}</td>
        <td>{{ r.consumoMes }}</td>
        <td>S/. {{ r.importeTotal }}</td>
        <td>{{ r.fechaLectura }}</td>
        <td>{{ r.fechaVencimiento }}</td>
        <td>
          <span [ngClass]="{
            'pendiente': r.estado === 'PENDIENTE',
            'pagado': r.estado === 'PAGADO'
          }">
            {{ r.estado }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!cargando && recibosFiltrados.length === 0">
    No se encontraron recibos.
  </div>

</div>