<div class="principal-container">
  <h1 class="titulo">Panel de Gestión Inmobiliaria</h1>
  <p class="subtitulo">Resumen actual de los activos y personal del sistema.</p>

  <div class="cards-container">
    <div class="card card-clientes">
      <div class="card-header"><i class="bi bi-people-fill icon"></i></div>
      <div class="card-body">
        <p class="title">Clientes</p>
        <p class="total">{{ totalClientes }}</p>
      </div>
      <div class="card-footer">
        <a routerLink="/secretaria-menu/clientes" class="btn-ver">Gestionar <i class="bi bi-arrow-right-circle"></i></a>
      </div>
    </div>

    <div class="card card-lotes">
      <div class="card-header"><i class="bi bi-grid-3x3-gap icon"></i></div>
      <div class="card-body">
        <p class="title">Lotes</p>
        <p class="total">{{ totalLotes }}</p>
      </div>
      <div class="card-footer">
        <a routerLink="/secretaria-menu/lotes" class="btn-ver">Gestionar <i class="bi bi-arrow-right-circle"></i></a>
      </div>
    </div>

    </div>

  <div class="chart-section shadow-sm">
    <h3><i class="bi bi-bar-chart-line-fill"></i> Inventario por Proyecto</h3>
    <div class="chart-canvas-wrapper">
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType">
      </canvas>
    </div>
  </div>
</div>