<div class="modal fade" #modalElement tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content shadow-lg">
      <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="bi bi-person-plus"></i> Insertar Nuevo Cliente
          </h5>
          <button type="button" class="btn-close btn-close-white" (click)="cerrarModal()" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <div class="form-wrapper">

            <div class="form-row form-2-col">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre del cliente" required
                  (input)="formatearTexto($event, 'nombre')" />
              </div>

              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos" placeholder="Apellidos del cliente"
                  (input)="formatearTexto($event, 'apellidos')" />
              </div>
            </div>

            <div class="form-row form-3-col">
              <div class="form-group">
                <label for="tipoCliente">Tipo de Cliente</label>
                <select id="tipoCliente" formControlName="tipoCliente" required>
                  <option [value]="null" disabled>Seleccione tipo</option>
                  <option value="NATURAL">Natural</option>
                  <option value="JURIDICO">Jurídico</option>
                </select>
              </div>
              <div class="form-group">
                <label for="numDoc">DNI / RUC</label>
                <input type="text" id="numDoc" formControlName="numDoc" placeholder="Número de documento" required
                  [maxlength]="clienteForm.get('tipoCliente')?.value === 'NATURAL' ? 8 : 11"
                  (input)="limpiarNoNumericos('numDoc')" [attr.title]="getErrorMessage('numDoc')"
                  [ngClass]="{'is-invalid': clienteForm.get('numDoc')?.invalid && clienteForm.get('numDoc')?.touched}"
                  #numDocInput (focus)="onInputFocus('numDoc')" (blur)="onInputBlur('numDoc')" />
              </div>

              <div class="form-group celular-wrapper">
                <label for="celular">Celular</label>
                <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="true"
                  [selectedCountryISO]="CountryISO.Peru" [cssClass]="'form-control custom-intl-input'"
                  formControlName="celular" [attr.placeholder]="'Ej. 902 658 057'">
                </ngx-intl-tel-input>
              </div>
            </div>

            <div class="form-row form-2-col form-2-col-direccion">
              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" formControlName="direccion" placeholder="Dirección completa"
                  required />
              </div>

              <div class="form-group" formGroupName="distrito">
                <label for="idDistrito">Distrito</label>
                <select id="idDistrito" formControlName="idDistrito" required>
                  <option value="">Selecciona un distrito</option>
                  <option *ngFor="let d of distritos" [value]="d.idDistrito">
                    {{ d.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row form-2-col">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" placeholder="ejemplo@correo.com" required
                  [attr.title]="getErrorMessage('email')"
                  [ngClass]="{'is-invalid': clienteForm.get('email')?.invalid && clienteForm.get('email')?.touched}"
                  #emailInput (focus)="onInputFocus('email')" (blur)="onInputBlur('email')" />
              </div>

              <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" formControlName="telefono" placeholder="Teléfono" />
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-save" [disabled]="!clienteForm.valid">
            <i class="bi bi-person-plus"></i> Guardar Cliente
          </button>
          <button type="button" class="btn btn-secondary btn-cancel" (click)="cerrarModal()">
            <i class="bi bi-x-lg"></i> Cancelar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>