<div class="vendedor-container">
  <h2>Listado de Vendedores</h2>

  <div class="filtros">
    <button class="btn btn-success" (click)="abrirModal()">
      <i class="bi bi-plus-lg"></i> Agregar Vendedor
    </button>
    <button class="btn btn-outline-primary" (click)="descargarExcel()">
      📥 Exportar Excel
    </button>
    <button class="btn btn-outline-danger" (click)="exportarPDF()">
      📄 Exportar PDF
    </button>
  </div>

  <div class="tabla-vendedor">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>DNI</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Dirección</th>
          <th>Fecha Nac.</th>
          <th>Género</th>
          <th>Comisión</th>
          <th>Distrito</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vendedores">
          <td>{{ v.idVendedor }}</td>
          <td>{{ v.nombre }}</td>
          <td>{{ v.apellidos }}</td>
          <td>{{ v.dni }}</td>
          <td>{{ v.celular || '—' }}</td>
          <td>{{ v.email || '—' }}</td>
          <td>{{ v.direccion || '—' }}</td>
          <td>
            {{ v.fechaNacimiento ? (v.fechaNacimiento | date: 'yyyy-MM-dd') : '—' }}
          </td>
          <td><span class="estado-activo">{{ v.genero || '—' }}</span></td>
          <td>
            {{ v.comision != null ? (v.comision | number:'1.2-2') + '%' : '—' }}
          </td>
          <td>{{ v.distrito.nombre || '—' }}</td>
          <td class="acciones-cell">
            <button class="btn btn-outline-primary btn-sm me-1" (click)="abrirModal(v)" title="Editar">
                <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminarVendedor(v.idVendedor!)" title="Eliminar">
                <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="vendedores?.length === 0">
          <td colspan="12" class="no-results">No hay vendedores registrados.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-vendedor-insertar 
  #registroModal 
  (vendedorGuardado)="cargarVendedores()"> </app-vendedor-insertar>