<div class="menu-soporte-layout">
  <aside class="sidebar-soporte">
    <div class="user-profile-soporte">
      <img src="img/logo.png" alt="Logo de la empresa" class="profile-img">
      <h2 class="welcome-text">Hola, {{ usuarioLogueado?.nombre }}</h2>
    </div>
    
    <nav class="nav-soporte">
      <ul>
        <li>
          <a [routerLink]="['/soporte-menu/']">Principal</a>
        </li>
        <li>
          <a [routerLink]="['/soporte-menu/lotes']">Gestión de Lotes</a>
        </li>
        <li>
          <a [routerLink]="['/soporte-menu/soportes']">Gestion de Programas</a>
        </li>
        <li>
          <a [routerLink]="['/soporte-menu/parceleros']">Gestion de Parceleros</a>
        </li>
         <li>
          <a [routerLink]="['/soporte-menu/vendedores']">Gestion de Vendedores</a>
        </li>
        <li>
          <a (click)="onLogout()">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="content-soporte">
    <router-outlet></router-outlet>
  </main>
</div>