@import "intl-tel-input/build/css/intlTelInput.css";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "@angular/material/prebuilt-themes/azure-blue.css";
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    height: 100vh;
}